KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/drivers/serial.o \
$(ARCHDIR)/drivers/vga.o \
$(ARCHDIR)/drivers/keyboard.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_load.o \
$(ARCHDIR)/debug.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/idt_load.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/isr_stubs.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/kheap.o \
